#calc-con{
    width: 300px;
    margin: 100px auto;
    background-color: #212141;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border-radius: 20px;
}
#calc-con h2{
    background-color: white;
    color:#212141;
    margin : 0px;
    padding: 13px 20px 0px 20px;
    height: 53px;
    font-size: 35px;
    grid-column: 1/5;
    grid-row: 1/2;
    border-radius: 10px;
}
#calc-con h4{
    text-align: center;
    background-color: #36355f;
    color: white;
    margin: 0;
    border-radius: 10px;
    height: 45px;
    font-size: 22px;
    padding-top: 20px;
    transition-duration: 0.3s;
}
#calc-con h4:hover{
    cursor: pointer;
    background-color: #6558ff;
    box-shadow: 0 0 20px #000;
}
.op-btn{
    background-color:#ffd33e !important; 
    color: #212121 !important;
}
.op-btn:hover{
    background-color: #b19421 !important;
}